.add-button {
    width:auto;
    max-width: 100%;
    height:100%;
    background-color:lightblue;
    color:black;
    font-weight: bold;
    border-radius: 3px;
}

.remove-button {
    width: auto;
    max-width: 100%;
    height: 100%;
    background-color: lightcoral;
    color: black;
    font-weight: bold;
    border-radius: 3px;
}

.left-right-padding {
    padding-left: 5px;
    padding-right:5px;
}

.left-right-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.item-box {
    padding: 10px;
    border: solid 1px;
    width: 30%;
    height: 350px;
    float: left;
    margin: 0.5%;
    background-color: rebeccapurple;
    border-radius: 25px;
}

.in-box-picture {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 25px;
}

.border-solid {
    border: solid 5px;
}

.header {
    background-color: aqua;
    width:100%;
    height:5%;
}

.background-image {
    background-position: center center;
    background-image: url('Pictures/city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.items-field {
    background-color: #333333;
    margin-top: 50px;
    border-radius: 25px;
    padding: 1%;
    background: linear-gradient(to right, #333333, #332233)
}