@model ECommerce.Logic.Models.Home.IndexViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@foreach (var item in Model.Items)
{
    @Html.ActionLink(item.Name, "Index", "Item", new { id = item.ID }, null)
}

